#hero {
    height: 800px;
    background-image: url("../img/places/ocean.jpg");
    background-size: cover;
    background-position: center;   
}

#hero-content {
    width: 900px;
    background-color: rgba(51, 47, 47, 0.8);
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
    border-radius: 8px;
    text-align: center;
    padding: 50px 0;
    margin: 0 auto;
    position: relative;
    top: 200px;
    color: white;
    text-transform: uppercase;
}

#hero-content h1 {
    font-size: 50px;
    /* text-transform: uppercase; */
    font-family: "Raleway", sans-serif;
}

#hero-content p {
    font-weight: 300;
    font-size: 24px;
    margin: 16px 0 32px 0;
}

#hero-content a {
    text-decoration: none;
    text-transform: none;
    background-color: rgb(255, 251, 0);
    padding: 12px 24px;
    border-radius: 8px;
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
    color: black;
    font-weight: bold;
}

#hero-content a:hover {
    background-color: rgb(255, 238, 0);
}

#highlights {
    box-sizing: border-box;
    text-align: center;
    padding: 25px 0;
    background-color: rgb(187, 195, 194);
}

#destinations {
    display: flex;
    width: 90%;
    margin: auto;
    margin-bottom: 40px;
    justify-content: space-around;
}

.destination img {
    height: 200px;
    margin: 25px 0 10px 0;
}