body {
    background-color: rgb(230, 230, 255);
    font-family: "Roboto", sans-serif;
    text-align: center;
}

h1 {
    color: rgb(100, 45, 200);
    font-size: 40px;
}

img {
    width: 250px;
    margin-bottom: 30px;
}

main {
    font-size: 15px;
    width: 35%;
    margin: auto;
    text-align: left;
    background-color: rgb(127, 72, 228);
    color: rgb(230, 230, 255);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin: 10px 0;
    padding-left: 15px;
    border-left: 4px solid transparent;
}

.highlighted {
    color: rgb(235, 210, 137);
    border-color: rgb(235, 220, 137);
}

a {
    background-color: rgb(235, 220, 137);
    padding: 1px 5px;
    border-radius: 3px;
    text-decoration: none;
    color: rgb(11, 11, 66);
}

a:hover,
a:active {
    background-color: rgb(250, 201, 39);
}

button {
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(235, 184, 18);
}

button:hover,
button:active {
    background-color: rgb(255, 186, 58);
}

button a,
button a:hover,
button a:active {
    background: none;
}

footer p {
    color: rgb(110, 110, 110);
    font-size: 12px;
}
