body {
    background-color: rgb(230, 230, 255);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h1 {
    color: rgb(100, 45, 200);
    font-size: 40px;
} 

img {
    width: 250px;
    margin-bottom: 30px;
}

main {
    font-size: 15px;
    width: 35%;
    margin: auto;
    text-align: left;
    background-color: rgb(127, 72, 228);
    color: rgb(230, 230, 255);
    border-radius: 8px;
    padding: 20px;
}

ul {
    list-style: none;
}

li {
    margin: 10px 0;
    padding-left: 5px;
}

.highlighted {
    color: orange;
    border-left: 2px solid orange;
}